.git/
.venv/
.uv-cache/
.ruff_cache/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

data/
legacy/

apps/simple_mlops/.ruff_cache/
apps/simple_mlops/.venv/
apps/simple_mlops/__pycache__/
apps/simple_mlops/events/
apps/simple_mlops/mlruns/
apps/simple_mlops/models/
